.modal__background {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 99;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    width: 400px;
    height: 300px;
    padding: 30px;
    justify-content: center;
}

.modal__exit svg:first-child {
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--dark-grey);
    cursor: pointer;
}

.modal svg {
    color: var(--red);
}

.modal__title {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 900;
}

.modal__message {
    text-align: center;
    margin: 20px 0;
}

.modal__btnContainer {
    justify-content: space-between;
    width: 180px;
}

.modal__btnContainer button {
    width: 80px;
    height: 30px;
    border: 0;
    font-size: 14px;
    font-weight: 700;
}

.modal__btnContainer button:last-child {
    background-color: var(--red);
    color: var(--white);
}

.modal__btnContainer button:last-child {
    background-color: var(--red);
    color: var(--white);
}

.modal__btnContainer button:last-child:hover {
    background-color: #b71540;
}