input {
  height: 20px;
  width: 250px;
  border: 1px solid var(--blue);
}

button {
  width: 20px;
  height: 20px;
  border: 1px solid var(--blue);
  padding: 0;
}

.search {
  height: 45px;
  width: 100%;
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 0 15px;
  justify-content: space-between;
}

.username svg {
  margin-right: 5px;
}

